@{
    ViewData["Title"] = "Home Page";
}

<!-- As always, this is our home page. It contains the basic information asked for, including links to the other
pages and the picture provided by Prof. Hilton -->
<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <p>Welcome to the Joel Hilton Film Collection. Here you will find links to learn more about Joel and also
        submit forms for movies to be added to his collection.</p>
    <img src="~/JoelHiltonHeadshot.jpg" alt="Joel Hilton"/>
</div>