@{
    ViewData["Title"] = "Home Page";
}

<!-- Another simple page here. The requirements say to provide the links I've added, as well as the image provided.
When working, the image also acts as a link to the baconsale website. -->
<div class="text-center">
    <h1 class="display-4">Get to Know Joel</h1>
    <p>Joel Hilton is a cool guy with a really cool brother. Here are a few links that he likes!</p>
    <a href="https://www.qwcomedy.com/"> Quick Wits Comedy (where he performs regularly)</a>
    <br/>
    <a href="https://baconsale.com/">Baconsale (his weekly podcast)</a>
    <br/>
    <img src="~/BaconsaleKate.jpg" alt="The Baconsale team with Kate Beckinsale"/>

</div>